* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fonte titulos', cursive;

  background-color: black;
  color: #ccccb3;


}

@font-face {
  font-family: Fonte titulos;
  src: url(../fontes/RomanticaPersonalUse.ttf);
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
  
  

}

header {
  position: sticky;
  top: 0px;
  display: inline;
  
}

.menu {
  padding: auto;
  background-color:black;
 

}


ul {
  float: right;
  

}

li {
  list-style: none;
  display: inline;

}

ul,
a {
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
  color: #ffffff;
  transition: 0.3s;
}

ul a:hover,
.menus a:focus {
  color: #08f013;
}

.fotomenu {
  width: 190px;
  height: 80px;
  margin: 0px;

  /*margin-left: 30px;*/


  /*background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(3, 0, 0), rgba(255,0,0,0));*/
}


/**Medias Querys */

@media screen and (max-width: 500px) {
  .fotomenu {
    float: none;
    text-align: center;
    margin-left: 120px;
  }

  ul{
    float: none;
    text-align: center;
    margin-top: 20px;
  }

  li{
    margin-bottom: 10px;
    display: block;
  }

  header {
    position: relative;

    
  }

  #Home {
    margin: auto;
    width: 100%;
  }

  #Sobrenos {

    text-align: justify;

  }

  .linkvideos {

    margin-left: 15px;
    padding: 0px;

  }
 

}




@keyframes mudarFoto {
  0% {
    background-image: url(../imagens/fabioviolino.jpg);
  }

  40% {
    background-image: url(../imagens/Valsa.jpg);
  }

  60% {
    background-image: url(../imagens/Dança\ dos\ noivos.jpg);
  }

  80% {
    background-image: url(../imagens/Dupla\ Sax\ e\ Violino.jpg);
  }

  100% {
    background-image: url(../imagens/Dança\ dos\ noivos.jpg);
  }
}


/*Menu Home*/


#Home {

  height: 660px;
  width: 98%;
  margin: auto;
  background-size: 100% 100%;

  animation-name: mudarFoto;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}


/*Menu sobrenós*/
#Sobrenos {
  margin-top: 10px;

  padding-top: 60px;
}

.Sob {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
}

.Sobr {
  text-align: center;
  margin: 150px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*Menu vitrine*/
#Vitrine {
  margin-left: 70px;
  margin-top: 10px;
  padding-top: 110px;
}

.im {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: width 5s;
}

.Vt {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

/*Menu video*/
.vd {
  text-align: center;

  font-size: 30px;
}

#Videos {
  margin-top: 20px;
  padding-top: 100px;
}

.linkvideos {
  margin-left: 20px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}


@media screen and (max-width: 300px) {
  .linkvideos {
    margin: auto;
    margin-left: 15px;
    padding: 0px;

  }
}

.vdo {
  width: 560px;
  height: 315px;

}

@media screen and (max-width: 600px) {
  .vdo {
    width: 450px;
    height: 215;


  }
}

@media screen and (max-width: 500px) {
  .vdo {
    width: 450px;
    height: 215;


  }
}


/*Menu faqs*/

#Faqs {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  
}

.faq {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.tabela {
  margin-top: 20px;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid gray;
  text-align: left;
  font-size: 18px;
}

/*Menu mapa*/
#contato {
  display: flex;
  align-items: center;
  margin-top: 0px;

  padding-top: 5px;


}

.orç {

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px;


}

@media screen and (max-width: 500px) {
  #contato {
    margin-left: 500px;
    margin: auto;
  }
}


form {
  padding: 5px;
  max-width: 500px;
  margin-right: 40px;
  text-align: center;
  font-size: 18px;
  color: white;

}

@media screen and (max-width: 500px){
  form{
    margin-left: 35px;
  }
  
}

input[type='submit'] {
  color: black;
  background-color: #00ff00;
  font-weight: bold;
  transition: background-color 500ms ease-out, padding 800ms;
}

input[type='submit']:hover {
  background-color: black;
  color: white;
}

input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
}

textarea {
  height: 100px;
}

label{
  color: white;
  font-size: 5px;
}

.mp {
  margin-top: 0;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  padding: 20px;
  
}

.end {

  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
}

/*Footer(rodapé)*/

  
.rodape {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  overflow: hidden;
}

.imgrodape {
  margin-top: 20px;
  padding-top: 20px;
}

.redesocial {
  margin-top: 20px;
}

.logradoro {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
